html {
  --black: #000;
  --gray-900: #111111;
  --gray-800: #181818;
  --gray-700: #1e1e1e;
  --gray-600: #282828;
  --gray-500: #323232;
  --gray-400: #666666;
  --gray-300: #999999;
  --gray-200: #bbbbbb;
  --gray-100: #cecece;
  --white: #fff;

  --accent-200: #ff7f48;
  --accent-400: #ff4800;
  --accent-600: #9c2c00;
  --accent-800: #ff48003f;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  background-color: var(--black);
  color: var(--white);

  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
  margin-block-start: 0;
  margin-block-end: 0;
}

h1,
h2 {
  font-weight: 300;
}

h3 {
  color: var(--gray-300);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 12pt;
  margin-bottom: 0.5em;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.1s;
}

a:hover {
  color: var(--accent-200);
  text-decoration: underline;
}

.float-right {
  float: right;
}

.monospace {
  font-family: monospace;
}

.tooltip {
  cursor: help;
}

.tooltip:hover {
  border-bottom: 1px dotted white;
}

.stack {
  display: flex;
  flex-flow: column nowrap;
}

.section {
  margin: 2em 2em;
}

.margin {
  margin-top: 2em;
}

.flex-columns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 1em;
}

.flex-columns div {
  flex-grow: 1;
  width: 100%;
}

.form {
  width: 80%;
  max-width: 1000px;
  display: flex;
  margin: auto;
  flex-flow: column nowrap;
  align-items: center;
  gap: 0.5em;
}

.form .form-row,
.form .form-row-stretch {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: start;
  justify-content: center;
  gap: 1em;
}

.form .form-row-stretch>div.stretch {
  flex-grow: 1;
}

.form .form-row-stretch input.stretch,
.form .form-row-stretch textarea.stretch {
  width: 100%;
}

.form label {
  display: block;
}

.form input,
.form textarea {
  background-color: var(--gray-500);
  color: #fff;
  border: 1px transparent solid;
  padding: 0.5em 1em;
  margin: 0.5em;
  text-align: center;
  font-size: 10pt;
  box-sizing: border-box;

  border-radius: 20px;
  transition: 0.2s;
}

.form textarea {
  border-radius: 5px;
  resize: none;
  height: 7em;
}

.form input:hover,
.form textarea:hover {
  background-color: var(--gray-400);
}

.form input:focus,
.form textarea:focus {
  border-radius: 5px;
}

.form input:disabled,
.form textarea:disabled {
  color: var(--gray-300);
}

.form input:invalid,
.form input.error {
  border-color: #f00;
  background-color: #ff00007f;
}

.status-box {
  border: 1px var(--gray-400) solid;
  background-color: var(--gray-500);
  padding: 1em 2em;
  border-radius: 1em;
}

.status-box.hidden {
  display: none;
}

.status-box.error {
  border-color: #f00;
  background-color: #ff00007f;
}

.status-box.success {
  border-color: #0f0;
  background-color: #00ff007f;
}



#root {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#main-container {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  min-height: 0;
}

#main {
  background-color: var(--gray-700);
  flex-grow: 1;

  overflow-y: auto;
}

.screen {
  display: none;
  padding: 0;
}

.screen.active {
  display: block;
}

#screen-youtube {
  height: 100%;
  overflow: hidden;
}



.song-list {
  width: 100%;
  box-sizing: border-box;
  border-spacing: 0;
}

.song-list col#number {
  width: 3em;
}

.song-list col#title {
  min-width: 10em;
}

.song-list col#artist {
  width: 15em;
}

.song-list col#album {
  width: 15em;
}

.song-list col#year {
  width: 3em;
}

.song-list tr {
  background-color: var(--gray-700);

  color: var(--gray-200);

  user-select: none;
  transition: 0.1s;
  box-sizing: border-box;
}

.song-list tr.song-row {
  /* cursor: pointer; */
}

.song-list tr.song-row:last-child {
  border-bottom: none;
}

.song-list tr.song-row:hover {
  background-color: var(--gray-600);
}

.song-list tr.song-row.item-playing,
.song-list tr.song-row.item-selected {
  background-color: var(--gray-600);
  color: var(--white);
}

.song-list tr.song-row.item-playing.item-selected {
  background-color: var(--accent-800);
}

.song-list tr.song-row.item-playing td {
  border-bottom-color: var(--accent-400);
  border-bottom-width: 3px;
  color: var(--white);
}


.song-list td,
.song-list th {
  height: 3em;
  padding: 0.5em;
  border-bottom: var(--gray-500) 1px solid;
  box-sizing: border-box;
  transition: 0.1s;
}

.song-list th {
  color: var(--white);
  text-align: left;
  font-size: 10pt;
  font-weight: 300;
  text-transform: uppercase;
}

.song-list tr> :first-child {
  padding-left: 1.5em;
}

.song-list tr> :last-child {
  padding-right: 1.5em;
}



.item-tile {
  background-color: var(--gray-700);
  color: var(--gray-200);

  border-bottom: var(--gray-500) 1px solid;

  user-select: none;
  transition: 0.1s;
  box-sizing: border-box;
}

.item-tile:hover {
  background-color: var(--gray-600);
}

.item-tile.item-playing,
.item-tile.item-selected {
  background-color: var(--gray-600);
}

.item-tile.item-playing {
  border-bottom-color: var(--accent-400);
  border-bottom-width: 3px;
  color: var(--white);
}

.item-tile.item-playing.item-selected {
  background-color: var(--accent-800);
}

.generic-tile,
.song-tile,
.artist-tile,
.album-tile {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 5em;
  padding: 1em;
  gap: 1em;
}

.artist-tile {
  height: 8em;
}

.album-tile {
  height: 7em;
}

.song-tile .title,
.artist-tile .name,
.album-tile .name {
  color: var(--white);
}

.artist-tile .name {
  font-size: 18pt;
}

.artist-tile .label,
.album-tile .label {
  font-style: oblique;
}

.artist-tile .profile-picture {
  height: 100%;
  border: 3px transparent solid;
  border-radius: 1000px;
  transition: 0.2s;
  cursor: pointer;
}

.artist-tile .profile-picture:hover {
  border: 3px var(--accent-200) solid;
}

.album-tile .album-cover {
  height: 100%;
  cursor: pointer;
}



#youtube-player {
  width: 100%;
  height: 100%;
}



#sidebar {
  display: flex;
  flex-flow: column nowrap;
  min-width: 250px;
  height: 100%;
  background-color: var(--gray-800);
  user-select: none;
}

#sidebar h3 {
  color: var(--gray-400);
  margin: 1em;
  margin-bottom: 0.5em;
  padding-bottom: 0.2em;
  border-bottom: var(--gray-400) 1px solid;

  font-weight: 500;
  text-transform: uppercase;
  font-size: 10pt;
  letter-spacing: normal;
}

.sidebar-section {
  display: flex;
  flex-flow: column nowrap;
}

.sidebar-row {
  color: var(--gray-200);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  gap: 1em;

  width: 100%;
  height: 30px;
  padding: 0 1em;
  border-left: var(--accent-400) 0 solid;

  cursor: pointer;
  transition: 0.1s;
}

.sidebar-row:hover {
  color: var(--white);
  background-color: var(--gray-600);
}

.sidebar-row.active {
  color: var(--white);
  background-color: var(--gray-600);
  border-left-width: 5px;
}



#player {
  display: flex;
  flex-flow: row nowrap;
  height: 80px;
  padding: 1em;
  gap: 2em;
  box-sizing: border-box;

  background-color: var(--gray-600);
  user-select: none;
}

#player #controls {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;

  gap: 0.5em;
  justify-content: center;
  align-items: center;
}

#player #controls>button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-items: center;

  border: 0;
  background-color: transparent;
  background-size: cover;
  cursor: pointer;
}

#player #controls #play-button span.playing {
  display: none;
}

#player #controls #play-button.playing span {
  display: none;
}

#player #controls #play-button.playing span.playing {
  display: block;
}

#player #controls #youtube-button {
  display: none;
}

#player #controls #youtube-button.active {
  display: block;
}

#player #center-container {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  height: 100%;

  gap: 0.5em;
  justify-content: center;
  align-items: flex-start;
  /* align-items: center; */
}

#player #center-container #title-container #title {
  font-weight: 500;
}

#player #center-container #time-slider-container {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;

  gap: 1em;
  align-items: center;
}

#player #center-container #time-slider-container #time-slider {
  flex-grow: 1;
}

#player #volume-container {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;

  align-items: center;
  gap: 1em;
}



.slider {
  --slider-height: 0.7em;
  --slider-thumb-size: var(--slider-height);

  -webkit-appearance: none;
  appearance: none;

  height: var(--slider-height);

  background-color: var(--accent-600);
  color: #0f0;
  border-radius: 1em;
  outline: none;
  cursor: pointer;
}

.slider:not(:disabled):hover {
  --slider-thumb-size: 1.5em;
}

.slider::-webkit-slider-thumb {
  appearance: none;

  width: var(--slider-thumb-size);
  height: var(--slider-thumb-size);

  background-color: var(--accent-400);

  border-radius: 100%;
  transition: 0.2s;
}

.slider.gray,
.slider:disabled {
  background-color: var(--gray-500);
  cursor: default;
}

.slider.gray::-webkit-slider-thumb,
.slider:disabled::-webkit-slider-thumb {
  background-color: var(--gray-300);
}



.scrollbar::-webkit-scrollbar {
  width: 14px;
  transition: 0.2s;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: var(--gray-800);
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--gray-500);
  transition: 0.2s;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray-400);
}